.bulbasaur-bg:after { background-image: url('../img/pokemon/bulbasaur_thumb.png');}
.charmander-bg:after { background-image: url('../img/pokemon/charmander_thumb.png');}
.charizard-bg:after { background-image: url('../img/pokemon/charizard_thumb.png');}
.pikachu-bg:after { background-image: url('../img/pokemon/pikachu_thumb.png');}
.psyduck-bg:after { background-image: url('../img/pokemon/psyduck_thumb.png');}
.dratini-bg:after { background-image: url('../img/pokemon/dratini_thumb.png');}
.squirtle-bg:after { background-image: url('../img/pokemon/squirtle_thumb.png');}
.arceus-bg:after { background-image: url('../img/pokemon/arceus_thumb.png');}
.arcanine-bg:after { background-image: url('../img/pokemon/arcanine_thumb.png');}
.metapod-bg:after { background-image: url('../img/pokemon/metapod_thumb.png');}
.lapras-bg:after { background-image: url('../img/pokemon/lapras_thumb.png');}